body{
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1{
  margin-top: 50px;
  text-align: center;
  background-color: #cfcfdd;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.gallery-item{
  width: 250px;
  height: 300px;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.5s;
  border-radius: 5px;
}

.gallery-item:hover{
  transform: scale(1.06);
}

.lightbox{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000a1;
  display: none;
  justify-content: center;
  align-items: center;
}

#lightbox-image {
  max-width: 90%;
  max-height: 80%;
  margin-bottom: 20px;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

